@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/RobotoSlab-Bold.eot');
    src: url('fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('fonts/RobotoSlab-Bold.woff') format('woff'),
        url('fonts/RobotoSlab-Bold.ttf') format('truetype'),
        url('fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('fonts/Georgia.eot');
    src: url('fonts/Georgia.eot?#iefix') format('embedded-opentype'),
        url('fonts/Georgia.woff2') format('woff2'),
        url('fonts/Georgia.woff') format('woff'),
        url('fonts/Georgia.ttf') format('truetype'),
        url('fonts/Georgia.svg#Georgia') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.ttf') format('truetype'),
        url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Black.eot');
    src: url('fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Black.woff2') format('woff2'),
        url('fonts/Poppins-Black.woff') format('woff'),
        url('fonts/Poppins-Black.ttf') format('truetype'),
        url('fonts/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1400px;margin: 0 auto;text-align: center;font-family: "Montserrat"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1300px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "socialico"}

/*button*/
.btn {font-size: 12px; font-weight: 900; color: #fff; display: inline-block; padding: 16px 34px; background: #9B5B18; border: 1px solid transparent; border-radius: 200px; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Roboto Slab"; font-weight: 700; font-size: 45px; color: #000;}
h2 {font-family: "Montserrat"; font-weight: 700; font-size: 20px; color: #9B5B18; letter-spacing: 5 px}
/*header*/
#header {position: relative;background: rgba(255,255,255,0.5); z-index: 9999}
#header .row{position: relative;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-family: "Montserrat"; font-weight: 700; font-size: 15px; margin-right: 60px}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#9B5B18;}
img.logo{position: absolute; top: 10px; left: 0}
.hdLeft.col{width: 81.53846153846154%; text-align: right;padding:37.5px 0 }
.hdRight.col{width: 18.461538461538463%;background: #532F09; font-family: "Montserrat"; font-weight:700; font-size: 25px; color: #fff; padding: 32.05px 0}
/*banner*/
#banner {background: url(../images/common/bg1.jpg)no-repeat center top;background-size: cover;min-height: 1355px; margin-top: -95px; position: relative;}

/* welcome */
#wlcSection{position: relative; margin: -160px 0 0; padding: 0 0 190px}
#wlcSection .row{max-width: 960px}
#wlcSection p{font-family: "Montserrat"; font-weight: 500; font-size: 25px}
#wlcSection p span{font-weight: 900; color: #995918}

/* services */
#svcSection{position: relative;padding: 0 0 220px}
.services{display: flex;justify-content: space-between;}
.services dl{max-width: 220px; width: 100%; margin: 40px 0 0}
.services dl dt img{max-width: 220px; width: 100%;}
.services dl dd{margin: 0; font-family: "Montserrat"; font-size: 16px; font-weight: 900; color: #532F09; padding: 20px 0 0 }

/* about */
#abtSection{position: relative;padding: 0 0 140px}
#abtSection img{max-width: 564px; width: 100%; margin: 0 auto;}
#abtSection h2{margin: 80px 0 0}
#abtSection h1{margin: 0 0 80px}
#abtSection p{font-size: 15px; font-weight: 400; color: #000; max-width: 960px; margin: 1em auto;}

/* reviews */
#rvwSection{background: url(../images/common/bg2.jpg)no-repeat center top; background-size: cover;padding: 40px 0 100px}
#rvwSection p:nth-of-type(1){font-family: "Georgia"; font-weight: 400; font-style: normal;font-size: 150px; color: #fff; margin: 0 auto 60px;max-height: 67px;line-height: unset}
#rvwSection p{font-family: "Montserrat"; font-style: italic;font-weight: normal;font-size: 13px; color: #fff; letter-spacing: 1px; line-height: 25px}
#rvwSection img{max-width: 219px; width: 100%; margin: 40px auto 20px;}
#rvwSection p:nth-of-type(4){font-style: normal;font-size: 25px; color: #FFBF00; margin: 0}
#rvwSection p:nth-of-type(5){font-family: "Poppins"; font-size: 16px; font-style: normal;font-weight: 900;margin: 0; letter-spacing: 5px}

/* gallery */
#gallSection{position: relative;padding: 80px 0 0}
.gallery{display: inline-block; vertical-align: top;max-width: 1280px; margin: 40px 0 110px}
.gallery img{width: 30%; margin: 10px}
#gallSection img.imgBot{max-width: 1066px; width: 100%; margin: 0 auto}

#cntSection{background: url(../images/common/bg3.jpg)no-repeat center top; background-size:cover; padding: 80px 0}
#cntSection h1{margin-bottom: 80px; color: #fff}
.cntLeft.col, .cntRight.col{display: inline-block;vertical-align: middle;width: 48%; text-align: left;}
.cntRight.col{max-width: 520px; margin-left: 80px}
.cnt2Left.col, .cnt2Right.col{width: 49%}
#cntSection .ctc-form input[type="text"],#cntSection .ctc-form textarea{background: rgba(255,255,255,0.6);border: none; border-radius: 0; margin: 0 0 20px 0}
#cntSection .ctc-form input[type="text"]{height: 50px}
#cntSection .ctc-form textarea{height: 179px}
#cntSection .ctc-form input[type="text"]::placeholder,#cntSection .ctc-form textarea::placeholder{font-family: "Montserrat"; font-weight: 300; font-size: 15px; color: #fff}
#cntSection form .g-recaptcha{max-width: 289px; width: 100%; margin: 0 auto 0 0;}
#cntSection form [type="submit"]{margin: 0 auto 0 0;}
#cntSection form input[type="checkbox"], #cntSection form p.conset{display: inline-block;vertical-align: top;}
#cntSection form p.conset {margin: 0; font-family:"Poppins"; font-weight: 400; font-size: 15px; color: #fff;max-width: 443px;margin:0 0 30px 5px}

#cntDetContact{margin-top: 5px; padding: 37px 0; border-top: 1px solid #D6D6D6;border-bottom: 1px solid #D6D6D6}
.details{display: inline-block; vertical-align: top; max-width: 305px; width: 100%}
.details:nth-child(2){border-left:1px solid #D6D6D6 ;border-right:1px solid #D6D6D6 ;}
.details:nth-child(3){max-width: 450px}
#cntDetContact img, #cntDetContact p{display: inline-block; vertical-align: middle;}
#cntDetContact p{margin: 0 0 0 10px}
.bg-phone {width: 18px; height: 19px;background: url('../images/content/contact_sprites.png') -10px -10px;}
.bg-location {width: 15px; height: 19px;background: url('../images/content/contact_sprites.png') -48px -10px;}
.bg-email {width: 18px; height: 14px;background: url('../images/content/contact_sprites.png') -10px -49px;}


/*footer*/
#footer {padding: 40px 0 0;position: relative;}
.footTop ul {margin: 0;padding: 0}
.footTop ul li {display: inline-block;vertical-align: middle;}
.footTop ul li a {font-family: "Montserrat"; font-weight: 700; font-size: 15px; margin-right: 80px;position: relative;}
.footTop ul li.active-menu a, .footTop ul li a:hover {color:#9B5B18;}
.footTop ul li.active-menu a:before, .footTop ul li a:hover:before {content:"";position: absolute;background-color:#9B5B18;width: 10px; height: 8px;top: -10px; left: 50%; transform: translateX(-50%);clip-path: polygon(50% 100%, 0 0, 100% 0);}
.footTop .copy, .footTop .silver{font-family:"Montserrat"; font-weight: 400;font-size: 12px; color: #000}
.footTop .copy{margin-top: 40px}
.footTop .socialMedia{font-size: 25px; color: #444444; letter-spacing: 10px}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
.footBot .logo{max-width: 285px; width: 80%;position: absolute;top: 585px; left: 50%; transform: translateX(-50%);z-index: 9999}
/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/

/*
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}

@media screen and (max-width: 800px){
  [class*="col"] {
    width: 100% !important;
    float:none;
 }
  .resSection{padding: 20px 0!important;}
  .resImage{display:none!important;}
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
